# Pandas Tutorial
## Series
1.pd.series(data=data ,index=index, name'something',dtype="")
2.pd.DataFrame(data,index, column)

In [4]:
import numpy as np
import pandas as pd

In [6]:
series = pd.Series(data={"a":1,"b":2,"c":3},name="Glue",dtype="int32")
print(series)

a    1
b    2
c    3
Name: Glue, dtype: int32

In [7]:
series = pd.Series(data=(np.random.random(5)*10).astype('int32'),index=range(1,6),name="stick")
print(series)

1    2
2    1
3    8
4    5
5    0
Name: stick, dtype: int32

In [8]:
df = pd.DataFrame(data={"One":[1,1,1,1],"Two":[2,2,2,2]},index=range(1,5))
print(df)

   One  Two
1    1    2
2    1    2
3    1    2
4    1    2

In [13]:
df=pd.DataFrame(data=[[1,2,3],[4,5,6],[7,8,9]],index=range(1,4))
df

   0  1  2
1  1  2  3
2  4  5  6
3  7  8  9

In [15]:
data ={
    "Science":(np.random.random(5)*100).astype('int32'),
    "Math":(np.random.random(5)*100).astype('int32'),
    "English":(np.random.random(5)*100).astype('int32')
}
index=["Adam","Bob","Charmander","Dave","Elon"]
df=pd.DataFrame(data=data,index=index)
df["Total%"]=round(df.sum(axis=1)/3,2)
df

            Science  Math  English  Total%
Adam             77    21       25   41.00
Bob               6    96       11   37.67
Charmander       58    51       60   56.33
Dave             89    33        5   42.33
Elon             33     6       26   21.67

In [16]:
data =[
    {"a":1,"b":2},
    {"c":3,"d":4},
    {"a":5,"b":6}
]
pd.DataFrame(data, index=[1,2,3])

     a    b    c    d
1  1.0  2.0  NaN  NaN
2  NaN  NaN  3.0  4.0
3  5.0  6.0  NaN  NaN

## Reading CSV files.

In [20]:
df=pd.read_csv(".\diabets\diabetic_data.csv")
df.head()

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\cd246\AppData\Local\Temp\ipykernel_16372\1195590051.py:1: SyntaxWarning: invalid escape sequence '\d'
  df=pd.read_csv(".\diabets\diabetic_data.csv")

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,...,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,...,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,...,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,...,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [24]:
df.iloc[200:251:2,:] #Slicing the array by choosing rows 200 to 250 by increasing 2 step

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,...,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
200,2655870,716805,Asian,Male,[60-70),?,6,25,7,1,...,No,No,No,No,No,No,No,No,No,NO
202,2663004,780975,Caucasian,Female,[70-80),?,6,25,1,4,...,No,No,No,No,No,No,No,No,Yes,>30
204,2671290,3492477,AfricanAmerican,Male,[10-20),?,6,25,1,10,...,No,Steady,No,No,No,No,No,No,Yes,NO
206,2674482,2596824,AfricanAmerican,Male,[40-50),?,6,25,7,2,...,No,No,No,No,No,No,No,No,Yes,>30
208,2680044,564732,Caucasian,Female,[50-60),?,6,25,1,3,...,No,No,No,No,No,No,No,No,No,NO
210,2724570,87806799,Caucasian,Male,[60-70),?,3,1,2,4,...,No,Steady,No,No,No,No,No,Ch,Yes,>30
212,2732148,52897581,AfricanAmerican,Female,[70-80),?,3,1,2,2,...,No,Down,No,No,No,No,No,Ch,Yes,NO
214,2735352,3053970,AfricanAmerican,Male,[70-80),?,6,25,1,1,...,No,Steady,No,No,No,No,No,Ch,Yes,>30
216,2735964,2359485,Caucasian,Female,[0-10),?,6,25,7,3,...,No,Steady,No,No,No,No,No,No,Yes,NO
218,2736798,93479463,Caucasian,Male,[70-80),?,2,1,4,2,...,No,Steady,No,No,No,No,No,Ch,Yes,NO
220,2745456,634689,Caucasian,Male,[50-60),?,6,25,7,8,...,No,Up,No,No,No,No,No,Ch,Yes,<30
222,2790720,48573,AfricanAmerican,Female,[80-90),?,6,25,1,8,...,No,No,No,No,No,No,No,No,No,<30
224,2792280,3306681,Caucasian,Male,[50-60),?,6,25,1,1,...,No,Steady,No,No,No,No,No,No,Yes,NO
226,2799012,114304932,Caucasian,Female,[60-70),?,2,1,2,1,...,No,Up,No,No,No,No,No,Ch,Yes,NO
228,2806932,492012,Caucasian,Female,[50-60),?,6,25,7,3,...,No,Down,No,No,No,No,No,Ch,Yes,>30
230,2811000,91305,Caucasian,Male,[50-60),?,6,25,1,1,...,No,No,No,No,No,No,No,Ch,Yes,NO
232,2817642,107102214,Caucasian,Male,[10-20),?,1,1,7,2,...,No,Steady,No,No,No,No,No,No,Yes,<30
234,2830938,284400,Caucasian,Male,[60-70),?,6,25,7,8,...,No,Steady,No,No,No,No,No,Ch,Yes,>30
236,2842320,4030317,Caucasian,Male,[40-50),?,6,25,7,4,...,No,No,No,No,No,No,No,No,Yes,>30
238,2852430,2341521,?,Female,[70-80),?,6,25,1,5,...,No,No,No,No,No,No,No,No,Yes,>30
240,2862930,108387207,Caucasian,Male,[50-60),?,6,1,1,6,...,No,No,No,No,No,No,No,No,No,<30
242,2866344,6531597,AfricanAmerican,Female,[70-80),?,6,25,7,5,...,No,Up,No,No,No,No,No,Ch,Yes,NO
244,2868276,32409162,Caucasian,Female,[50-60),?,2,1,2,1,...,No,Down,No,No,No,No,No,Ch,Yes,NO
246,2874540,7926723,AfricanAmerican,Female,[60-70),?,1,1,7,1,...,No,Down,No,No,No,No,No,Ch,Yes,<30
248,2896332,3782196,Caucasian,Female,[80-90),?,6,1,1,14,...,No,No,No,No,No,No,No,Ch,Yes,NO
250,2922318,49453713,AfricanAmerican,Female,[60-70),?,1,1,7,3,...,No,Up,No,No,No,No,No,Ch,Yes,NO

In [25]:
df.columns[4:20]

Index(['age', 'weight', 'admission_type_id', 'discharge_disposition_id',
       'admission_source_id', 'time_in_hospital', 'payer_code',
       'medical_specialty', 'num_lab_procedures', 'num_procedures',
       'num_medications', 'number_outpatient', 'number_emergency',
       'number_inpatient', 'diag_1', 'diag_2'],
      dtype='object')

In [26]:
var=df.loc[:49,df.columns[4:20:4]]
var

         age  admission_source_id  num_lab_procedures  number_emergency
0     [0-10)                    1                  41                 0
1    [10-20)                    7                  59                 0
2    [20-30)                    7                  11                 0
3    [30-40)                    7                  44                 0
4    [40-50)                    7                  51                 0
5    [50-60)                    2                  31                 0
6    [60-70)                    2                  70                 0
7    [70-80)                    7                  73                 0
8    [80-90)                    4                  68                 0
9   [90-100)                    4                  33                 0
10   [40-50)                    7                  47                 0
11   [60-70)                    4                  62                 0
12   [40-50)                    7                  60                 1
13   [80-90)                    7                  55                 0
14   [60-70)                    2                  49                 0
15   [60-70)                    7                  75                 0
16   [50-60)                    7                  45                 0
17   [50-60)                    7                  29                 0
18   [70-80)                    7                  35                 0
19   [70-80)                    2                  42                 0
20   [50-60)                    4                  66                 0
21   [60-70)                    4                  36                 0
22   [70-80)                    4                  47                 0
23   [80-90)                    1                  42                 0
24   [70-80)                    2                  19                 0
25   [50-60)                    7                  33                 0
26   [80-90)                    7                  64                 0
27   [50-60)                    1                  25                 0
28   [20-30)                    2                  53                 0
29   [80-90)                    7                  52                 0
30   [60-70)                    7                  87                 0
31   [70-80)                    7                  53                 0
32   [70-80)                    7                  27                 0
33   [60-70)                    2                  37                 0
34   [70-80)                    2                  46                 0
35   [60-70)                    7                  41                 0
36   [70-80)                    2                  33                 0
37   [60-70)                    7                  33                 0
38   [70-80)                    7                  47                 0
39   [50-60)                    2                  44                 0
40   [70-80)                    7                  28                 0
41   [40-50)                    2                  36                 0
42   [70-80)                    1                  48                 0
43   [50-60)                    7                  59                 0
44   [80-90)                    7                  72                 0
45   [40-50)                    2                  10                 0
46   [70-80)                    4                  25                 0
47   [70-80)                    4                   2                 0
48   [50-60)                    2                  65                 0
49   [60-70)                    4                  67                 0

In [27]:
var = df.tail(10).loc[:,df.columns[4:20:4]]
var

            age  admission_source_id  num_lab_procedures  number_emergency
101756  [60-70)                    7                  46                 1
101757  [70-80)                    7                  21                 0
101758  [80-90)                    7                  76                 1
101759  [80-90)                    7                   1                 0
101760  [60-70)                    7                  45                 1
101761  [70-80)                    7                  51                 0
101762  [80-90)                    5                  33                 0
101763  [70-80)                    7                  53                 0
101764  [80-90)                    7                  45                 0
101765  [70-80)                    7                  13                 0

In [28]:
var = df.loc[4::-1,df.columns[0:5]]
var

   encounter_id  patient_nbr             race  gender      age
4         16680     42519267        Caucasian    Male  [40-50)
3        500364     82442376        Caucasian    Male  [30-40)
2         64410     86047875  AfricanAmerican  Female  [20-30)
1        149190     55629189        Caucasian  Female  [10-20)
0       2278392      8222157        Caucasian  Female   [0-10)